@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Chewy";
    src: url("../dist/Chewy/Chewy-Regular.ttf");
}
.chewy{
    font-family: "Chewy";
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 20px;
}


/* div{
    border:1px orange solid; 
   
  } */
    

/* font of breeds menu and character's names */
@font-face {
    font-family: "Chewy";
    src: url("./Chewy/Chewy-Regular.ttf");
    
    }
.chewy{
    font-family: "Chewy";
}

.para{
    max-width: 1000px;
    max-height: 1600px;
    

    
}
.pics{
    /* min-height: 100px; */
    width:100%;
    height:auto;
    max-width: 200px;
}
.cad:hover .comment{
    display: block !important;
    transition: all 800ms;
}

 .cad:before{
  
    background-color:rgb(194 65 12);

  
    border:1px orange solid;
    
 }
    
.cad{
    padding:30px;
   
}
.cad h3{
    padding-left:15px;
}
.oblic:before{
    content:'';
    position:absolute;
    margin-top:-30px; margin-right:0px;
    margin-left:-32px;
    width:100%; height:100%;
    

    z-index:-1;
   
    

    -webkit-transform-origin:100% 100%;
    -ms-transform-origin:100% 100%;
    transform-origin:100% 100%;

    -webkit-transform:skewX(-10deg);
    -ms-transform:skewX(-10deg);
    transform:skewX(-5deg);
    z-index:-1;
}
/* .comment:before{
    background-color: rgb(248 250 252 );
    margin-left:38px;

} */
